/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
.banner-header {
  background-color: rgb(0, 0, 0);
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover; /* ปรับขนาดภาพให้ครอบคลุม */
  height: 100%; /* กำหนดความสูงที่ต้องการ */
  width: 100%; /* กำหนดความกว้าง */
}
.title{
  font-family: fantasy;
  font-size: 50px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
  border: 5px solid #52a23c;
  color: rgb(251, 251, 251);
  background-color: #86ea6a;
  box-shadow: 3px 3px 1px #61bc48;
  text-decoration: none;
}
.listmap{
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #52a23c;
  border-radius: 15px;
  background-color:#86ea6a;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
}
body {
  margin: 0px;
  font-size: 30px;
  background-color:rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family:monospace;
}
select{
  margin: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border-radius: 15px;
  border: 5px solid #86ea6a;
  box-shadow: 3px 3px 00px #000000;
  font-family: Audiowide, fantasy;
}
select:hover{
  border-color: rgb(0, 0, 0);
  box-shadow: 3px 3px 00px #86ea6a;
}
input{
  margin: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-family: Audiowide, fantasy;
  background-color: #86ea6a;
  border-radius: 15px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 0px #000000;
  color: white;
  
}
button {
  margin: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-family: Audiowide, fantasy;
  background-color: #86ea6a;
  border-radius: 15px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 0px #000000;
  color: white;
  
}
button:hover {
  background-color: #000000;
  border-color: #86ea6a;
  color: rgb(243, 243, 243);
  box-shadow: 3px 3px 0px #86ea6a;
}
h1 {
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 50px;
  color: #b7f6a6;
  text-shadow: 3px 3px 0px #000000;
}
div {
  text-align: center;
}

.main-container{
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
